* {
    box-sizing: border-box; 
} 

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    background-color: lightgray;
  }

  main {
    flex: 1 0 auto;
  }

.page-header {
    width: 100%;
    /* height: 20%; */
    background-color:  #025a9d;
    text-align: center;
  }

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 5px;
}

nav {
    background-color: #025a9d;
    box-shadow: none;
}

nav.nav-center ul {
    text-align: center;
}
nav.nav-center ul li {
    display: inline;
    float: none;
}
nav.nav-center ul li a {
    display: inline-block;
}

.page-footer {
    background-color: #025a9d;
}

.about-me {
    padding: 0;
    margin: 0;
}

.info-header h4{
    color: #025a9d;
}

.about-me p {
    color: black;
    font-size: 20px;
    line-height: 30px;
}





